/* 首页样式 */
.banner {
    height: 500px;
    background-color: #f5f5f5;
    user-select: none;
}

.banner .wrapper {
    position: relative;
    overflow: hidden;
    height: 500px;
    background-color: pink;
}

.banner .pic {
    display: flex;
    width: 3720px;
}

.banner .pic li {
    width: 1240px;
}

.banner .subnav {
    position: absolute;
    top: 0px;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .subnav li {
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: white;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 20px;
    cursor: pointer;
}

.banner .subnav li:hover {
    background-color: #5EB69C;
}

.banner .subnav li a {
    color: white;
    font-size: 14px;
    margin-right: 4px;
}

.banner .subnav li .classify {
    font-size: 18px;
    margin-right: 8px;
}

.banner ol {
    position: absolute;
    display: flex;
    bottom: 16px;
    right: 16px;
}

.banner ol li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

.banner ol .selected {
    background-color: rgba(255, 255, 255, 0.5);
}

.banner ol .selected i {
    background-color: white;
}

.banner ol i {
    display: block;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 5px;
}

.xxhw {
    height: 500px;
    margin-top: 30px;
}

.tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tittle .left {
    display: flex;
    align-items: center;
}

.tittle .left h3 {
    font-size: 30px;
    margin-right: 20px;
}

.tittle .left p {
    align-self: flex-end;
    color: #b4a6a6;
}

.tittle .right .all {
    display: flex;
    align-items: center;
    color: #b4a6a6;
}

.tittle .right .all p {
    margin-right: 10px;
}

.tittle .right .all p a {
    color: #b4a6a6;
}

.bd {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.bd ul {
    display: flex;
    justify-content: space-between;
    width: 1240px;
}

.bd ul li {
    height: 370px;
    width: 290px;
    background-color: #c9ece185;
}

.bd ul li .pic img {
    height: 290px;
    width: 290px;
}

.bd ul .desc h3 {
    margin-top: 15px;
    text-align: center;
    mask-border: 15px;
    font-size: 14px;
}

.xxhw .bd ul .desc h4 {
    text-align: center;
    color: red;
}

.xxhw .bd ul .desc h4 span {
    margin-left: 5px;
    font-size: 18px;
}